
* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	 /* background-color:#FBF7F8  ; */
      /* background-color: #C9DAFA */
}

.navbar
{
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  width: 100%;
  padding: 8px;
 font-weight: 700;
 box-shadow: 1px 2px 8px hsla(0deg, 0%, 0%, 0.25);
}

.navbar-links-container
{
  font-size: 1.7rem;

}



.nav-link
{
  text-decoration: none;
	color:#0C81F5;
}

.navbar-links-container ul

{
  display: flex;


}





.navbar-links-container ul li a
{
  display: block;
  padding: 1rem;
 font-size: 1.5rem;
}

.navbar-links-container ul li a:hover
{
  color:  #F4357B;
}


li
{
  list-style: none;
}


.nav-section
{
  margin-left: auto;
font-size: 28px;
margin-right: 30px;

}

.nav-section li
{
 display: inline-block;
}


.nav-section li a{
	padding: 8px;
	color:
}

.nav-section ul li a:hover
{

  color:  #F4357B ;
}

.img-ui
{

	margin-top: 10px;

}

.heading
{
	margin-left: 33rem;
	font-size: 32px;
}

.content
{
		margin-left: 21rem;
		font-size: 20px;
}


.active-container a
{
	text-decoration: none;
	font-size: 20px;
 	color: #2596E4;
}



.active
{
	margin-left: 31rem;
	padding: 0.8rem;
	margin-top: 20px;
	width: 160px;
	border-radius: 5px;
	border-style: none;
	border:1px solid #0C81F5;
	background-color: white;


}
.active1
{

	padding: 0.8rem;
	margin-left: 30px;
	border-radius: 5px;
	border-style: none;
	background-color:#0C81F5;
	border:2px solid #83E5FB;


}

.footer
{
	border:1px solid black;
}
